<!doctype html>
<html class="no-js">
	<head>
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<title>MineField do bigode</title>
		<meta name="description" content="">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<link rel="stylesheet" href="assets/css/normalize.css">
		<link rel="stylesheet" href="assets/css/main.css">
	</head>
	<body>

		<table id="game">
		</table>

		<script type="text/template" id="field-template">
			<td>
				<a class="not-explored field-link"
					href="javascript:void(0)"
					data-line="<%= line  %>"
					data-position="<%= position %>">
					<br/> <%= bomb %> <br />
				</a>
			</td>
		</script>

		<script src="bower_components/jquery/dist/jquery.js"></script>
		<script src="bower_components/underscore/underscore.js"></script>
		<script src="assets/javascripts/functionals.js"></script>
		<script src="assets/javascripts/game-view.js"></script>
		<script src="assets/javascripts/minefield.js"></script>
		<script>
			new MineField({
				x: 10,
				y: 10,
				mines: 50
			});
		</script>
	</body>
</html>
