/*
 * Smacss guide style
 */
@import 'compass'

$module-name: 'field'
$module-width: 18px
$module-height: 18px
$module-border-color: #AEAEAE
$module-link-color: #666
$module-background-color: #CECECE
$module-background-color-explored: #F1F1F1
$module-box-shadow: inset 1px 1px 1px #E6E6E6, inset -1px -1px 1px #B4B4B4

.#{$module-name}
  border: 1px solid $module-border-color
  text-align: center
  position: relative

.#{$module-name}-link
  background-color: $module-background-color
  display: block
  width: $module-width
  height: $module-height
  color: $module-link-color
  text-decoration: none
  +box-shadow($module-box-shadow)

  // states
  &.is-explored
    background-color: $module-background-color-explored
    +box-shadow(none)

  &.is-suspected
    background-image: image-url('flag.png')

  &.is-dead
    background-color: red
    &:after
      display: none

  &.is-bomb
    background-position: 0 2px
    background-image: image-url('bomb.png')

  &.is-bomb.is-explored
    &:after
      content: ''
      position: absolute
      width: 100%
      height: 100%
      top: 0
      left: 0
      background-repeat: no-repeat
      background-position: 1px 1px
      background-image: image-url('dead.png')
