/* Smacss guide style
 */
/* line 15, ../../sass/modules/field.sass */
.field {
  border: 1px solid #aeaeae;
  text-align: center;
  position: relative;
}

/* line 20, ../../sass/modules/field.sass */
.field-link {
  background-color: #cecece;
  display: block;
  width: 18px;
  height: 18px;
  color: #666666;
  text-decoration: none;
  -webkit-box-shadow: inset 1px 1px 1px #e6e6e6, inset -1px -1px 1px #b4b4b4;
  -moz-box-shadow: inset 1px 1px 1px #e6e6e6, inset -1px -1px 1px #b4b4b4;
  box-shadow: inset 1px 1px 1px #e6e6e6, inset -1px -1px 1px #b4b4b4;
}
/* line 30, ../../sass/modules/field.sass */
.field-link.is-explored {
  background-color: #f1f1f1;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
}
/* line 34, ../../sass/modules/field.sass */
.field-link.is-suspected {
  background-image: url('/assets/images/flag.png?1399987324');
}
/* line 37, ../../sass/modules/field.sass */
.field-link.is-dead {
  background-color: red;
}
/* line 39, ../../sass/modules/field.sass */
.field-link.is-dead:after {
  display: none;
}
/* line 42, ../../sass/modules/field.sass */
.field-link.is-bomb {
  background-position: 0 2px;
  background-image: url('/assets/images/bomb.png?1399987324');
}
/* line 47, ../../sass/modules/field.sass */
.field-link.is-bomb.is-explored:after {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background-repeat: no-repeat;
  background-position: 1px 1px;
  background-image: url('/assets/images/dead.png?1399987324');
}
