/* Smacss guide style
 */
/* line 10, ../../sass/modules/message.sass */
.message {
  position: fixed;
  width: 100%;
  padding: 5px 0;
  color: white;
  bottom: -100%;
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=0);
  opacity: 0;
  -webkit-transition: 0.6s;
  -moz-transition: 0.6s;
  -o-transition: 0.6s;
  transition: 0.6s;
}
/* line 19, ../../sass/modules/message.sass */
.message.is-active {
  bottom: 0;
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=100);
  opacity: 1;
}
/* line 23, ../../sass/modules/message.sass */
.message.is-success {
  background-color: #2b7507;
}
/* line 26, ../../sass/modules/message.sass */
.message.is-error {
  background-color: #a80707;
}
