/* Smacss guide style
 */
/* line 11, ../../sass/modules/near.sass */
.near-1 {
  color: blue;
}

/* line 11, ../../sass/modules/near.sass */
.near-2 {
  color: #008200;
}

/* line 11, ../../sass/modules/near.sass */
.near-3 {
  color: red;
}

/* line 11, ../../sass/modules/near.sass */
.near-4 {
  color: #000084;
}

/* line 11, ../../sass/modules/near.sass */
.near-5 {
  color: #840000;
}

/* line 11, ../../sass/modules/near.sass */
.near-6 {
  color: #008284;
}

/* line 11, ../../sass/modules/near.sass */
.near-7 {
  color: #840084;
}

/* line 11, ../../sass/modules/near.sass */
.near-8 {
  color: black;
}
