.dificulty{margin:25px 0}
/* Smacss guide style
 */
/* line 15, ../../sass/modules/field.sass */
.field {
  border: 1px solid #aeaeae;
  text-align: center;
  position: relative;
}

/* line 20, ../../sass/modules/field.sass */
.field-link {
  background-color: #cecece;
  display: block;
  width: 18px;
  height: 18px;
  color: #666666;
  text-decoration: none;
  -webkit-box-shadow: inset 1px 1px 1px #e6e6e6, inset -1px -1px 1px #b4b4b4;
  -moz-box-shadow: inset 1px 1px 1px #e6e6e6, inset -1px -1px 1px #b4b4b4;
  box-shadow: inset 1px 1px 1px #e6e6e6, inset -1px -1px 1px #b4b4b4;
}
/* line 30, ../../sass/modules/field.sass */
.field-link.is-explored {
  background-color: #f1f1f1;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
}
/* line 34, ../../sass/modules/field.sass */
.field-link.is-suspected {
  background-image: url('/assets/images/flag.png?1399987324');
}
/* line 37, ../../sass/modules/field.sass */
.field-link.is-dead {
  background-color: red;
}
/* line 39, ../../sass/modules/field.sass */
.field-link.is-dead:after {
  display: none;
}
/* line 42, ../../sass/modules/field.sass */
.field-link.is-bomb {
  background-position: 0 2px;
  background-image: url('/assets/images/bomb.png?1399987324');
}
/* line 47, ../../sass/modules/field.sass */
.field-link.is-bomb.is-explored:after {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background-repeat: no-repeat;
  background-position: 1px 1px;
  background-image: url('/assets/images/dead.png?1399987324');
}
.fork-me{position:absolute;right:0;top:0}
.message{position:fixed;width:100%;padding:5px 0;color:#fff;bottom:-100%;filter:progid:DXImageTransform.Microsoft.Alpha(Opacity=0);opacity:0;-webkit-transition:0.6s;-moz-transition:0.6s;-o-transition:0.6s;transition:0.6s}.message.is-active{bottom:0;filter:progid:DXImageTransform.Microsoft.Alpha(Opacity=100);opacity:1}.message.is-success{background-color:#2b7507}.message.is-error{background-color:#a80707}
.near-1{color:blue}.near-2{color:#008200}.near-3{color:red}.near-4{color:#000084}.near-5{color:#840000}.near-6{color:#008284}.near-7{color:#840084}.near-8{color:#000}
/* Smacss guide style
 */
/* line 8, ../../sass/modules/top-social.sass */
.top-social {
  position: absolute !important;
  top: 10px;
}
/* line 12, ../../sass/modules/top-social.sass */
.top-social.star {
  left: 10px;
}
/* line 15, ../../sass/modules/top-social.sass */
.top-social.like {
  left: 185px;
  top: 8px;
}
/* line 19, ../../sass/modules/top-social.sass */
.top-social.tweet {
  left: 94px;
}
