/* Smacss guide style
 */
/* line 12, ../../sass/modules/field.sass */
.field {
  border: 1px solid #aeaeae;
  text-align: center;
}

/* line 16, ../../sass/modules/field.sass */
.field-link {
  background-color: #e7e7e7;
  display: block;
  width: 18px;
  height: 18px;
  color: #666666;
  text-decoration: none;
  box-shadow: inset 1px 1px 1px #e6e6e6, inset -1px -1px 1px #b4b4b4;
}
