/* Smacss guide style
 */
/* line 15, ../../sass/modules/field.sass */
.field {
  border: 1px solid #aeaeae;
  text-align: center;
}

/* line 19, ../../sass/modules/field.sass */
.field-link {
  background-color: #cecece;
  display: block;
  width: 18px;
  height: 18px;
  color: #666666;
  text-decoration: none;
  -webkit-box-shadow: inset 1px 1px 1px #e6e6e6, inset -1px -1px 1px #b4b4b4;
  -moz-box-shadow: inset 1px 1px 1px #e6e6e6, inset -1px -1px 1px #b4b4b4;
  box-shadow: inset 1px 1px 1px #e6e6e6, inset -1px -1px 1px #b4b4b4;
}
/* line 29, ../../sass/modules/field.sass */
.field-link.is-explored {
  background-color: #f1f1f1;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
}
/* Smacss guide style
 */
/* line 11, ../../sass/modules/near.sass */
.near-1 {
  color: blue;
}

/* line 11, ../../sass/modules/near.sass */
.near-2 {
  color: #008200;
}

/* line 11, ../../sass/modules/near.sass */
.near-3 {
  color: red;
}

/* line 11, ../../sass/modules/near.sass */
.near-4 {
  color: #000084;
}

/* line 11, ../../sass/modules/near.sass */
.near-5 {
  color: #840000;
}

/* line 11, ../../sass/modules/near.sass */
.near-6 {
  color: #008284;
}

/* line 11, ../../sass/modules/near.sass */
.near-7 {
  color: #840084;
}

/* line 11, ../../sass/modules/near.sass */
.near-8 {
  color: black;
}
